<template>
  <div class="dashboard-container">
    <div class="dashboard-text">name: {{ name }}</div>

    <jac :data="o">fkkkkk</jac>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import jac from '@/components/jay'

export default {
  name: 'Dashboard',
  components: {
    jac
  },
  data() {
    return {
      o: {
        msg: 'waht the fuck i am tired of it',
        config: [
          {
            name: '__action__',
            buttons: [
              { url: '/form/index', name: 'Update' },
              { url: '/form/index', name: 'Delete' },
              { url: '/form/index', name: 'View' }
            ]
          },
          { name: 'name' },
          { name: 'age' },
          { name: 'rank' }
        ],
        pagination: {
          total: 15,
          current: 1,
          size: 3
        },
        rows: [
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
   
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 }
        ]
      }
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
