<template>
  <div>
    <!-- <h1><slot>testkkkkcuooo</slot></h1>
    <p>{{ msg }}</p> -->
    <el-container class="ctn-search">
       <el-row :span="6">

         <el-col><el-input type="text" v-model="filter.query"/></el-col>
       </el-row>

    </el-container>
    <div class="ctn-act"><el-button><router-link to="/form/index">Create</router-link></el-button></div>
       
          <el-table :data="data.rows" 
          
            v-infinite-scroll="loadMore"
      
        infinite-scroll-disabled="isLoading"
        infinite-scroll-distance="10"
        class="tb"
        >

      <el-table-column :label="item.name == '__action__' ? 'Action' : item.name" :width="item.name == '__action__' ? 160 : 110" align="center" v-for="item in data.config" :key="item.name">
         <template slot-scope="scope" >
           <div v-if="item.name == '__action__'">
            <span v-for="button in item.buttons" :key="button.name" @click="doFor(button.url, scope.row)" class="btn btn-act">
                 {{ button.name }}
            </span>
           </div>
           <span>{{ scope.row[item.name] }}</span>
        </template>
      </el-table-column>

    </el-table>

  
    <!-- <div>
      <span @click="add(-1)" class="pg">Prev</span>
      <span @click="go(ind)" v-for="ind in pagination.pageTotal" :key="ind" class="pg pg-index">
          {{ ind }}
      </span>
      <span @click="add(1)" class="pg">Next</span>
    </div> -->
  </div>
</template>

<script>

import Vue from 'vue';
// //自定义滚动条
// import PerfectScrollbar from 'perfect-scrollbar';
// //对应的css
// import "perfect-scrollbar/css/perfect-scrollbar.css";

import infiniteScroll from 'vue-infinite-scroll'
Vue.use(infiniteScroll)


// /**
//  * @description 为自定义滚动条全局注入自定义指令。自动判断该更新PerfectScrollbar还是创建它
//  * @param {Element} el - 必填。dom元素
//  */
// const el_scrollBar = (el) => {
//     //在元素上加点私货，名字随便取，确保不会和已有属性重复即可，我取名叫做_ps_
//     if (el._ps_ instanceof PerfectScrollbar) {
//         el._ps_.update();
//     } else {
//         //el上挂一份属性
//         el._ps_ = new PerfectScrollbar(el, { suppressScrollX: true });
//     }
// };

// Vue.directive("anyNameYouLike",{
//     inserted(el, binding){
//         const { arg } = binding;
//         if(arg === "任何你喜欢的标记"){
//             el = el.querySelector(".el-table__body-wrapper");
//             if(!el){
//                 return console.warn("未发现className为el-table__body-wrapper的dom");
//             }
//         }
//         const rules = ["fixed", "absolute", "relative"];
//             if (!rules.includes(window.getComputedStyle(el, null).position)) {
//                 console.error(`perfect-scrollbar所在的容器的position属性必须是以下之一：${rules.join("、")}`)
//             }
//             el_scrollBar(el);
//     },
//     componentUpdated(el, binding, vnode) {
//         const { arg } = binding;
//         if (arg === "任何你喜欢的标记") {
//             el = el.querySelector(".el-table__body-wrapper");
//             if(!el){
//                 return console.warn("未发现className为el-table__body-wrapper的dom");
//             }
//         }
//         vnode.context.$nextTick(
//             () => {
//                 try {
//                     el_scrollBar(el);
//                 } catch (error) {
//                     console.error(error);
//                 }
//             }
//         )
//     },
// })

export default {
  components: {
    
  },
  props: {

    data: {
      type: Object,
      default() {
        return {
          msg: 'test....'
        }
      }
    }

  },
  data() {
    return {
      msg: 'test....',
      filter: {},
      isLoading: false
    }
  },
  computed: {
    pagination() {
      var me = this
      var pageTotal = Math.ceil(me.data.pagination.total / me.data.pagination.size)
      return {
        pageTotal: pageTotal
      }
    }
  },
  methods: {
    add(qty) {
      var me = this
      var pgn = me.data.pagination
      if ((qty < 0 && pgn.current === 1) || (qty > 0 && pgn.current === me.pagination.pageTotal)) {
        return
      }

      var newPageNum = pgn.current + qty
      this.go(newPageNum)
      pgn.current = newPageNum
    },

    go(pageNum) {
      if (this.data.pagination.current === pageNum) return

      this.data.pagination.current = pageNum
      console.log('going to back-end to retrieve data for page ' + pageNum)
    },

    doFor(url, row) {
      console.log('doing for' + url + row.id)

      this.$router.push(url + '/' +  row.id)
    },
    loadMore(e) {
    


      console.log('trying to load more...')

      var me = this


      this.isLoading = true
     
      setTimeout(() => {
         var rows = me.data.rows
         
      var dummy = [
        { name: 'jay', age: 30, id: 1, rank: 3 },
        
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 },
          { name: 'jay', age: 30, id: 1, rank: 3 },
          { name: 'jay1', age: 30, id: 2, rank: 4 }
      ]
         rows.push.apply(rows, dummy)
         document.scrollingElement.scrollTop = document.scrollingElement.scrollTop - 100
         this.isLoading = false
         
      }, 1000);

       
    }
  }
}
</script>

<style scoped>
.pg {
    padding: 5px;
    border:1px solid grey;
}
.pg:hover {
    cursor: pointer;
    background-color: rgb(171, 178, 255);
}
.btn-act {
  font-size: 0.8em;
  padding: 3px;
   
  background-color: rgb(238, 238, 251);
    border-radius: 3px;
    margin: 2px;
}
.btn-act:hover {
  
  cursor: pointer;
   background-color: rgb(223, 223, 248);
  font-size: 0.85em;

}
</style>
<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .dropback {
    z-index: 99999;
    top:50%;
  }

  .tb thead {
    position: sticky;
    top: 0;
  }
</style>